
.root {
    -fx-accent: #a7b9f1;
    -fx-focus-color: -fx-accent;
    -fx-base: #ADD8E6;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;

    -fx-font-size: 13.5pt;
    -fx-font-family: "Comic Sans MS";
}

.text-field {
    -fx-prompt-text-fill: -fx-accent;
}
.titles{
    -fx-font-weight: bold;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: royalblue;
}

.button:hover > .ikonli-font-icon{
    -fx-icon-color: royalblue;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.background-list{
    -fx-background-color: derive(-fx-base, 15%);
}

.img-holder{
    -fx-border-color: royalblue;
}
.filter-box{
    -fx-font-size: 12.5pt;
}
.copyable-title, .copyable-title:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-font-weight: bold;
}
.copyable-field, .copyable-field:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}
.related-name:hover {
    -fx-text-fill: royalblue;
}

.ikonli-font-icon{
    -fx-icon-color: #262626;
}

#like-icon {
    -fx-icon-color: crimson;
}